html, body, div, span, h1, h2, h3, h4, h5, h6, p, 
fieldset, form, label, legend,
footer, header, menu, nav, section, summary
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
body {
  font-family: 'Nunito Sans', sans-serif;
}
header {
  padding: 20px 0px;
  border-bottom: 1px solid #bebebe;
}
header h1 {
  font-family: 'Paprika', cursive;
  font-size: 34px;
  letter-spacing: -1px;
}
.nav-links {
  position: absolute;
  top: 10px;
  right: 10px;
  list-style: none;
}
header .row {
  position: relative;
}
main {
  padding-top: 33px;
}
h1 {
  font-size: 24px;
  margin: 12px 0;
}
h2 {
  font-size: 17px;
  margin: 10px 0;
}
p {
  font-size: 17px;
  margin: 16px 0;
}
.dream-list {
  list-style: none;
  line-height: 2em;
  padding: 0;
}
.dream-list li a {
  font-size: 19px;
}
.dream-list .author, .dream-list .date {
  font-size: 14px;
}
.login-form {
  border: 1px solid #bebebe;
  padding: 12px;
  /* width: 33%; */
  border-radius: 3px;
}
legend {
  font-size: 20px;
  padding: 5px 0;
}
input[type="email"],
input[type="password"],
input[type="submit"],
input[type="text"] {
  display: block;
  border: 1px solid #bebebe;
  border-radius: 3px;
  /* background: #fcfcfc; */
  width: 90%;
  font-size: 18px;
  text-align: left;
  padding: 2px;
}
button {
  margin: 12px 0;
}
label {
  margin: 8px 0 2px;
  display: block;  
}
.login-message, .dream-editor-message {
  display: none;
  font-size: 17px;
  color: rgb(243, 55, 55);
}
.dream-journal-list {
  width: 100%;
}
.dream-journal-list a {
  font-size: 18px;
}
.journal-date, .journal-public {
  font-size: 14px;
}
.journal-public-check {
  margin: 0px 0px 0px 12px;
  vertical-align: middle;
  position: relative;
  top: -1px;
}
.dream-journal-containter {
  width: 90%;
}
.dream-journal-containter h1 {
  display: inline-block;
  margin: 0 0 10px 0;
}
.new-dream {
  float: right;
  margin-top: 5px;
}
.dream-journal-list td {
  padding: 8px 7px 0 0;
}
.dream-editor-form {
  width: 80%;
}
.dream-editor textarea {
  width: 100%;
}
#dream-editor-title {
  width: 100%;
}
#dream-editor {
  visibility: hidden;
}
#dream-editor-text {
  width: 100%;
}
.logo {
  cursor: pointer;
}
.dream-edit {
  float: right;
}
.dream-editor-back {
  float: right;
}