html, body, div, span, h1, h2, h3, h4, h5, h6, p, 
fieldset, form, label, legend,
footer, header, menu, nav, section, summary
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: black;
  color: black;
}
a {
  color: black;
  text-decoration: none;
}
main {
  padding: 0;
}
h1 {
  font-size: 24px;
  margin: 12px 0;
}
h2 {
  font-size: 20px;
  margin: 10px 0;
}
p {
  font-size: 17px;
  margin: 16px 0;
}
.row {
  /* background-color: #463edf; */
  background-color: #352EDB;
}
.view {
  display: none;
}
footer {
  color: white;
}
footer p {
  font-size: 13px;
}
button {
  margin: 15px 0;
  /* background-color: #463edf; */
  background-color: #352EDB;
  padding: 0 16px;
  white-space: nowrap;
  font-weight: 700;
  line-height: 28px;
  min-height: 28px;
  border: 2px solid #4b4b4b;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  color: white;
  display: inline-block;
  font-size: 15px;
  height: auto;
  outline: none;
  -webkit-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  width: auto;
  cursor: pointer;
}
label {
  margin: 8px 0 2px;
  display: block;  
}
.login-message,
.dream-editor-message,
.dream-journal-message,
.dream-detail-message,
.create-account-message,
.create-comment-message,
.home-screen-message {
  display: none;
  font-size: 17px;
  color: rgb(243, 55, 55);
}
#dream-journal .row, #dream-editor .row, #dream-detail .row {
  background-color: white;
}
#create-account .col-6, #login .col-4 {
  background-color: white;
  padding: 15px;
  margin: 15px 0;
  border-radius: 5px;
  margin-bottom: 40px;
}
.container {
  width: 80%;
}
.clr {
  clear: both;
}

/* Home Screen */

header {
  padding: 0;
}
header .row {
  border-bottom: 1px solid #ffb500;
  padding: 16px;
}
ul.top-nav {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin: 0;
}
ul.top-nav li {
  float:right;
}
ul.top-nav li a, .dreams-nav-link{
  display: none;
  color: #ffb500;
  text-align: center;
  font-size: 17px;
}
.dreams-nav-link {
  padding: 15px 0;
}
ul.top-nav li a {
  padding: 26px 14px 8px 10px;
}
ul.top-nav li.icon a {
  padding: 8px 0 10px;
  font-size: 24px;
}
.dreams-previous{
  margin-right: 14px;
}
.splash {
  margin-bottom: 34px;
  background-color: white;
  border-radius: 5px;
  padding: 9px 15px;
  margin-top: 30px;
  border: 1px solid black;
}
.splash h1 {
  font-size: 27px;
  line-height: 1em;
}
.splash button {
  display: block;
  margin: 12px auto;
}
/* Hide the list item that contains the link that should open
 and close the top-nav on small screens */
ul.top-nav li.icon {
  display: none;
  margin: 0;
}
header .row {
  position: relative;
}

.logo {
  cursor: pointer;
  position: absolute;
  font-family: 'Sniglet', cursive;
  font-size: 41px;
  letter-spacing: -1px;
  margin-top: 5px;
  color: #ffb500;
}
.flex-container {
  padding-top: 20px;
	max-width: 1000px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.flex-col {
  margin-bottom: 20px;
}
.home-dream-details {
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}
.home-title {
  margin: 0;  
}
.home-title a {
  font-size: 19px;
  font-weight: 800;
  line-height: 1em;
}
.home-author {
  margin: 0;
  font-size: 14px;  
}
.home-publish-date {
  margin: 0;
  font-size: 14px;
}
.dream-icon {
  width: 100px;
  cursor: pointer;
  display: block;
  margin: 15px auto;
}
#recent-dreams h2 {
  font-size: 21px;
  color: #ffb500;
}

/* Dream Detail Screen */

.dream-title {
  font-size: 26px;
  margin: 20px 0 0;
}
.dream-details {
  margin: 0;
}
.dream-author {
  font-size: 18px;
  margin: 0;
}
.dream-publish-date {
  font-size: 12px;
  margin: 0;
}
.dream-text {
  margin-bottom: 80px;
}
.delete-comment-link {
  margin: 5px 0 10px;
  font-size: 13px;
  line-height: 16px;
  padding: 0 9px;
  color: #463edf;
  cursor: pointer;
}

/* Login Screen */

.login-form {
  border: 1px solid #bebebe;
  padding: 12px;
  border-radius: 3px;
}
legend {
  font-size: 26px;
  padding: 5px 0;
}
input[type="email"],
input[type="password"],
input[type="text"] {
  display: block;
  border: 1px solid #bebebe;
  border-radius: 3px;
  background: #fcfcfc;
  width: 90%;
  font-size: 18px;
  text-align: left;
  padding: 2px;
  margin-bottom: 18px;
}

/* Dream Journal Screen */

.dream-journal-header {
  margin-top: 14px;
}
.dream-journal-footer {
  margin-bottom: 30px;
}
.dream-journal-list {
  width: 100%;
  line-height: 2.1em;
}
.dream-journal-list a {
  font-size: 18px;
}
.journal-date, .journal-public {
  font-size: 14px;
  margin-right: 10px;
}
.journal-public {
  margin-left: 11px;
  display: inline-block;
  margin: 0;
}
.journal-check {
  margin-left: 0;
  vertical-align: middle;
  position: relative;
  top: -1px;
}
.dream-journal-containter {
  width: 90%;
}
#dream-journal h1 {
  display: inline-block;
  margin: 18px 0;
}
.new-dream {
  margin-top: 17px;
}
.dream-journal-list td {
  padding: 8px 7px 0 0;
}
.dream-comments {
  list-style: none;
}
.dream-comment-text {
  margin: 10px 0 0 0;
}
.dream-comment-author {
  margin: 0;
  font-size: 14px;
}
.comment-delete {
  margin: 0;
}
.comment-add-form {
  display: none;
}
.comment-add-form legend {
  font-size: 20px;
}
.comment-add-form button{
  margin: 10px 0 20px;
  float: right;
}

/* Dream Editor Screen */

.nicedit-form {
  width: 80%;
  padding-top: 20px;
}
textarea {
  width: 100%;
}
#dream-editor-title {
  width: 100%;
}
#dream-editor-text, #comment-text {
  width: 100%;
}
.dream-edit, .dream-delete, .dream-comment {
  float: right;
}
.dream-delete {
  margin-left: 10px;
}
.dream-editor-form {
  margin-top: 14px;
}
.dream-editor-submit {
  float: right;
}

/* Flexbox */

.flex-col {
	width: 100%;
}
@media only screen and (min-width: 310px) {
  .flex-col {
    width: 50%;
  }
}
@media only screen and (min-width: 510px) {
  .flex-col {
    width: 33.33%;
  }
}
@media only screen and (min-width: 815px) {
	.flex-col {
    /* width: 16.66%; */
    width: 25%;
	}
}

/* Mobile */
@media only screen and (max-width: 640px) {
  .logo {
    font-size: 33px;
    margin: 2px;
  }
  .container {
    width: 100%;
  }
  ul.top-nav li:not(:last-child){
    display:none;
  }
  ul.top-nav li.icon {
    float: right;
    display: inline-block;
  }
  ul.top-nav.responsive {
    position:relative;
  }
  ul.top-nav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.top-nav.responsive li {
    float:none;
    display:inline;
  }
  ul.top-nav.responsive li a {
    display:block;
    text-align:left;
  }
  .home-link {
    margin-top: 30px;
  }
  .splash {
    margin-bottom: 12px;
  }
  .new-dream {
    margin-top: 0;
  }
  #dream-journal h1 {
    margin: 0;
  }
  .dream-journal-list .row .col-3:nth-child(2), .dream-journal-list .row .col-3:nth-child(3)  {
    margin-top: -12px;
  }
  .dream-journal-list a {
    margin-top: 7px;
    display: inline-block;
  }
}